# Conhecendo o Numpy

#### Numpy é a breviação de Numerical Python. Ele é um pacote poderoso e uito importante, utilizado para processamento numérico em Python.

#### Alguns dos destaques desse poderoso pacote são:

#### **> Objeto array multidimensional muito poderoso e performático**
#### **> Funções matemáticas para operações com arrays sem a necessidade de utilizar o laço** *for* 
#### **> Recursos de algebra linear para gerar números aleatórios**
#### **> Também pode ser aplicado com computação quântica, aplicação de modelos estatísticos, processamento de imagens e muitas outras funcionalidades**

# **Documentação:** https://numpy.org/

# Importando o Numpy

#### Para importar o pacote numpy, ou qualquer pacote que já esteja disponível em seu notebook, basta utiliar o *import* e em seguida o nome do pacote.

In [1]:
# Por questões de boas práticas, a comunidade faz o uso de alguns apelidos para alguns pacotes. 
# No caso do numpy utilizamos o "np"
# para associar o apelido ao pacote, pasta utilizar o "as" para realizar a associação

import numpy as np

# Criando uma array Numpy

In [2]:
# Para criar um array a partir de valores de sua preferência, basta utilizar o "np.array".
# Vamos utilizar a sequência de números a seguir no exemplo: 1000, 2365, 2300, 5500

np.array([1000, 2365, 2300, 5500])

# Você pode assiciar o array a uma variável. Vamos pensar esses valores são quilometragens.

km = np.array([1000, 2365, 2300, 5500])

# Agora, ao chamar a variável km, podemos acessar o nosso array

km

array([1000, 2365, 2300, 5500])

# Método *arange*

#### > O método arange serve para criar um array numpy. Com esse método, basta passar um valor por parâmetro ele criará um array com uma sequêcnia de valores correspondes ao número que foi fornecido.

#### Veja abaixo um exemplo de aplicação.

#### Para mais detalhes, acesse: https://numpy.org/doc/stable/reference/generated/numpy.arange.html

In [3]:
# Aqui podemos ver que ele criou um array com 10 elementos de 0 até 9.

np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# Utilizando o *loadtxt* para utilizar um dado externo

#### Para mais detalhes, acesse: https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html

In [4]:
# Para importar um arquivo para o google colaboratory, vamos utilizar o método 'files'
# Este método está presente no pacote do google.colab

#from google.colab import files

#files.upload()

In [5]:
# fname > Parâmetro que indica qual arquivo eu quero carregar.
# dtype > informa o tipo da variável que queremos. 
# É importante definir o tipo. Por padrão, o numpay define o valor como float

km = np.loadtxt(fname='carros-km.txt', dtype= int)
km

array([ 44410,   5712,  37123,      0,  25757,  10728,      0,  77599,
        99197,  37978,  12859,   8052,  89773,      0,  41457, 115607,
        46449,      0,  37086,  15173, 101193,      0,  98079, 102959,
            0,      0,   5795,      0,  58848,  94381,  30163,  53332,
        17720,  33808,  90684,  43975,      0,      0,   5526,      0,
        93415,  40762,      0,  86302,      0,   9755,  69945,   2395,
            0,  80349,  85554,  50496,  67716,  93947,  35345,  81007,
       119513,      0,      0,      0,      0,      0, 118895,  48509,
       100912,  95649,      0,  90495,      0,  29132,  23802,  84992,
        54395,  26731,  44329, 118236, 113808,    610,      0,      0,
        12887,  79607,  90924,  42733,      0,      0, 117714, 113885,
            0,  30511,  74867, 119760,   8356,  64247,  88661,   4539,
       110116,  33215,  92001,      0,  81708,  70641,      0,  91277,
        26544,  52596,  47503,  89056,  28834, 110564,  56638,  17357,
        74015,  15196,      0,  10821,      0,      0,   9595,  99052,
        52389, 119945,  96005,  31639,      0,  80187,      0,  58212,
        61672,  32017,      0,  56944,      0,  86519,   4821, 101025,
        30705,      0,  32555, 103389,      0,  55289,      0,      0,
       115930,  66437,  96800,  14237,  19896, 113045, 114942,   3173,
        83611,  25356,  88634,   2314,   2627,  52034,      0,      0,
        79577, 108201,  76453,  57683,  96610, 109001,  26212,  45971,
        49182,  49907,  38620,  60996,  73914, 107392,   9146,      0,
        17924,      0, 116949,  20476,  52804,   8849,  91724,  32056,
        74886,      0,      0,  52189,  83559,      0,  20328,      0,
        75577,  33659, 104341,  25510,  18965,  87161,   6652,  55738,
            0,      0,      0,  64320,      0,  68678,  71697,      0,
        34783,  33772,  85127,  13606,  35647,  95128,  14046,  41194,
            0,  96100, 103900,  43814,  24638,      0, 110966,  15987,
        53369,  10077,  71544,    107,   8394,  41498, 116002, 100858,
        67475,   8497,   4420,      0,  58537,      0,      0, 112016,
        91840, 112787,      0,      0,   9293,      0,  55083,  48796,
            0,  89685,  85384,  98108,  71280,  27505,  29981,  52637,
         7685,  50188])

# Comparando desempenho

## numpy array   X   python list

In [6]:
# Criando um array numpy com 1 milhão de elementos

numpy_array = np.arange(1000000)

In [7]:
# Criando uma lista do python com 1 milhão de elementos

python_list = list(range(1000000))

In [8]:
# %time Calcula o tempode execução da linha de código

%time for _ in range(100): numpy_array *= 2

CPU times: user 71.7 ms, sys: 0 ns, total: 71.7 ms
Wall time: 75.3 ms

In [9]:
%time for _ in range(100): python_list = [x * 2 for x in python_list]

CPU times: user 9.34 s, sys: 1.94 s, total: 11.3 s
Wall time: 11.4 s

# Podemos ver que para trablhar com grandes quantidades de valores, o array do numpy é muito mais performático do que a lista do Python

#### Para mais informações sobre arrays do numpy, acesse a documentação no link abaixo: https://numpy.org/devdocs/user/basics.creation.html

# Operações com arrays

In [10]:
# Abaixo temos duas listas. Uma possui valores de KM e o outro corresponde ao ano de fabricação de um veículo.

km = [55511, 6813, 48234, 0, 36868]
anos = [2004, 1992, 1991, 2019, 2008]

In [11]:
# Vamos descobrir a aidade de cada veículo.

# uma das formas de encontrar a idade de cada veículo utilizando uma lista do Python, é utilizando o for. 

for i in range(len(anos)):
  print(f'A idade do veículo em 2021 é: {2021 - anos[i]} anos')

A idade do veículo em 2021 é: 17 anos
A idade do veículo em 2021 é: 29 anos
A idade do veículo em 2021 é: 30 anos
A idade do veículo em 2021 é: 2 anos
A idade do veículo em 2021 é: 13 anos

In [12]:
# Agora vamos descobrir a idade dos veículos utilizando o array do numpy.

km = np.array([55511, 6813, 48234, 15, 36868])
anos = np.array([2004, 1992, 1991, 2019, 2008])

In [13]:
# Com o array do Numpy, a operação fica muito mais simples. Veja no exemplo.

idade_do_veiculo = 2021 - anos
idade_do_veiculo

# Como podemos ver acima, a lista do Python não suporta, por exemplo, operações entre um inteiro e uma lista. 
# Por outro lado, o array do Numpy possui suporte para esse tipo de operação, facilitado e simplificado o código.

array([17, 29, 30,  2, 13])

In [14]:
# Também é possível realizar operações entre os arrays do Numpy. Vamos descobrir a KM média dos veículos.

km_media = (km / idade_do_veiculo).round(2)
km_media

array([3265.35,  234.93, 1607.8 ,    7.5 , 2836.  ])

In [15]:
# Para alcançar o mesmo resultado com a lista do Python, temos que pegar um caminho mais complexo.

km_M = []
idade_V = []

for i in range(len(anos)):
  idade_V.append(2021 - anos[i])
for i in range(len(idade_V)):
  print(f'{(km[i] / idade_V[i]):.2f}')

3265.35
234.93
1607.80
7.50
2836.00

# Arrays de duas dimensões

In [25]:
# Podemos criar facilmente um array com uma ou mais listas em seu interior.

dados = np.array([km, anos])
dados

array([[55511,  6813, 48234,    15, 36868],
       [ 2004,  1992,  1991,  2019,  2008]])

In [26]:
# Para realizar o acesso aos elementos do array, basta passar o índice.

dados[0] # Nesse caso acessamos a lista correspondente à quilometragem

array([55511,  6813, 48234,    15, 36868])

In [28]:
# Podemos realizar operações de forma fácil, mesmo que as listas estejam dentro de um array.
# Vamos calcular novamente a média.

km_media = (dados[0] / (2021 - dados[1])).round(2)
km_media

array([3265.35,  234.93, 1607.8 ,    7.5 , 2836.  ])

# Acessando valores dentro do array numpy

In [32]:
# Para acessar valores dentro do array, basta passar o índice, como foi mostrado anteriormente.

dados[1] # Aqui temos acesso à lista de anos

array([2004, 1992, 1991, 2019, 2008])

In [33]:
# Para acessar um valor dentro que está dento dessa lista, podemos fazer fazer de duas formas:

# nomeDoArray[linha][coluna] ou nomeDoArray[linha, coluna]

# Vamos acessar o ano de 2019
dados[1][3]

2019

In [34]:
# Agora vamos acessar o ano de 1991 com a outra metodologia
dados[1,2]

1991

# Descobrindo o tipo de dado.

#### utilizando o *type* podemos descobrir com qual tipo de dados estamos trabalhando

In [16]:
type(km)

numpy.ndarray

In [17]:
v = 5
type(v)

int

In [18]:
v1 = 2.5
type(v1)

float

In [19]:
v3 = True
type(v3)

bool

In [20]:
v4 = 'olá'
type(v4)

str

In [21]:
# Para visualizar qual o tipo de dado armazenado dentro de um array numpy, utilizamos o 'dtype'

km.dtype

dtype('int64')

#### Para mais informações sobre Tipos de dados, acesse a documentação no link: https://numpy.org/devdocs/user/basics.types.html