# Conhecendo o Numpy

#### Numpy é a breviação de Numerical Python. Ele é um pacote poderoso e uito importante, utilizado para processamento numérico em Python.

#### Alguns dos destaques desse poderoso pacote são:

#### **> Objeto array multidimensional muito poderoso e performático**
#### **> Funções matemáticas para operações com arrays sem a necessidade de utilizar o laço** *for* 
#### **> Recursos de algebra linear para gerar números aleatórios**
#### **> Também pode ser aplicado com computação quântica, aplicação de modelos estatísticos, processamento de imagens e muitas outras funcionalidades**

# **Documentação:** https://numpy.org/

# Importando o Numpy

#### Para importar o pacote numpy, ou qualquer pacote que já esteja disponível em seu notebook, basta utiliar o *import* e em seguida o nome do pacote.

In [1]:
# Por questões de boas práticas, a comunidade faz o uso de alguns apelidos para alguns pacotes. 
# No caso do numpy utilizamos o "np"
# para associar o apelido ao pacote, pasta utilizar o "as" para realizar a associação

import numpy as np

# Criando uma array Numpy

In [ ]:
# Para criar um array a partir de valores de sua preferência, basta utilizar o "np.array".
# Vamos utilizar a sequência de números a seguir no exemplo: 1000, 2365, 2300, 5500

np.array([1000, 2365, 2300, 5500])

# Você pode assiciar o array a uma variável. Vamos pensar esses valores são quilometragens.

km = np.array([1000, 2365, 2300, 5500])

# Agora, ao chamar a variável km, podemos acessar o nosso array

km

array([1000, 2365, 2300, 5500])

# Método *arange*

#### > O método arange serve para criar um array numpy. Com esse método, basta passar um valor por parâmetro ele criará um array com uma sequêcnia de valores correspondes ao número que foi fornecido.

#### Veja abaixo um exemplo de aplicação.

#### Para mais detalhes, acesse: https://numpy.org/doc/stable/reference/generated/numpy.arange.html

In [ ]:
# Aqui podemos ver que ele criou um array com 10 elementos de 0 até 9.

np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# Utilizando o *loadtxt* para utilizar um dado externo

#### Para mais detalhes, acesse: https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html

In [ ]:
# Para importar um arquivo para o google colaboratory, vamos utilizar o método 'files'
# Este método está presente no pacote do google.colab

#from google.colab import files

#files.upload()

In [ ]:
# fname > Parâmetro que indica qual arquivo eu quero carregar.
# dtype > informa o tipo da variável que queremos. 
# É importante definir o tipo. Por padrão, o numpay define o valor como float

km = np.loadtxt(fname='carros-km.txt', dtype= int)
km

array([ 44410,   5712,  37123,      0,  25757,  10728,      0,  77599,
        99197,  37978,  12859,   8052,  89773,      0,  41457, 115607,
        46449,      0,  37086,  15173, 101193,      0,  98079, 102959,
            0,      0,   5795,      0,  58848,  94381,  30163,  53332,
        17720,  33808,  90684,  43975,      0,      0,   5526,      0,
        93415,  40762,      0,  86302,      0,   9755,  69945,   2395,
            0,  80349,  85554,  50496,  67716,  93947,  35345,  81007,
       119513,      0,      0,      0,      0,      0, 118895,  48509,
       100912,  95649,      0,  90495,      0,  29132,  23802,  84992,
        54395,  26731,  44329, 118236, 113808,    610,      0,      0,
        12887,  79607,  90924,  42733,      0,      0, 117714, 113885,
            0,  30511,  74867, 119760,   8356,  64247,  88661,   4539,
       110116,  33215,  92001,      0,  81708,  70641,      0,  91277,
        26544,  52596,  47503,  89056,  28834, 110564,  56638,  17357,
        74015,  15196,      0,  10821,      0,      0,   9595,  99052,
        52389, 119945,  96005,  31639,      0,  80187,      0,  58212,
        61672,  32017,      0,  56944,      0,  86519,   4821, 101025,
        30705,      0,  32555, 103389,      0,  55289,      0,      0,
       115930,  66437,  96800,  14237,  19896, 113045, 114942,   3173,
        83611,  25356,  88634,   2314,   2627,  52034,      0,      0,
        79577, 108201,  76453,  57683,  96610, 109001,  26212,  45971,
        49182,  49907,  38620,  60996,  73914, 107392,   9146,      0,
        17924,      0, 116949,  20476,  52804,   8849,  91724,  32056,
        74886,      0,      0,  52189,  83559,      0,  20328,      0,
        75577,  33659, 104341,  25510,  18965,  87161,   6652,  55738,
            0,      0,      0,  64320,      0,  68678,  71697,      0,
        34783,  33772,  85127,  13606,  35647,  95128,  14046,  41194,
            0,  96100, 103900,  43814,  24638,      0, 110966,  15987,
        53369,  10077,  71544,    107,   8394,  41498, 116002, 100858,
        67475,   8497,   4420,      0,  58537,      0,      0, 112016,
        91840, 112787,      0,      0,   9293,      0,  55083,  48796,
            0,  89685,  85384,  98108,  71280,  27505,  29981,  52637,
         7685,  50188])

# Comparando desempenho

## numpy array   X   python list

In [ ]:
# Criando um array numpy com 1 milhão de elementos

numpy_array = np.arange(1000000)

In [ ]:
# Criando uma lista do python com 1 milhão de elementos

python_list = list(range(1000000))

In [ ]:
# %time Calcula o tempode execução da linha de código

%time for _ in range(100): numpy_array *= 2

CPU times: user 71.7 ms, sys: 0 ns, total: 71.7 ms
Wall time: 75.3 ms

In [ ]:
%time for _ in range(100): python_list = [x * 2 for x in python_list]

CPU times: user 9.34 s, sys: 1.94 s, total: 11.3 s
Wall time: 11.4 s

# Podemos ver que para trablhar com grandes quantidades de valores, o array do numpy é muito mais performático do que a lista do Python

#### Para mais informações sobre arrays do numpy, acesse a documentação no link abaixo: https://numpy.org/devdocs/user/basics.creation.html

# Operações com arrays

In [ ]:
# Abaixo temos duas listas. Uma possui valores de KM e o outro corresponde ao ano de fabricação de um veículo.

km = [55511, 6813, 48234, 0, 36868]
anos = [2004, 1992, 1991, 2019, 2008]

In [ ]:
# Vamos descobrir a aidade de cada veículo.

# uma das formas de encontrar a idade de cada veículo utilizando uma lista do Python, é utilizando o for. 

for i in range(len(anos)):
  print(f'A idade do veículo em 2021 é: {2021 - anos[i]} anos')

A idade do veículo em 2021 é: 17 anos
A idade do veículo em 2021 é: 29 anos
A idade do veículo em 2021 é: 30 anos
A idade do veículo em 2021 é: 2 anos
A idade do veículo em 2021 é: 13 anos

In [ ]:
# Agora vamos descobrir a idade dos veículos utilizando o array do numpy.

km = np.array([55511, 6813, 48234, 15, 36868])
anos = np.array([2004, 1992, 1991, 2019, 2008])

In [ ]:
# Com o array do Numpy, a operação fica muito mais simples. Veja no exemplo.

idade_do_veiculo = 2021 - anos
idade_do_veiculo

# Como podemos ver acima, a lista do Python não suporta, por exemplo, operações entre um inteiro e uma lista. 
# Por outro lado, o array do Numpy possui suporte para esse tipo de operação, facilitado e simplificado o código.

array([17, 29, 30,  2, 13])

In [ ]:
# Também é possível realizar operações entre os arrays do Numpy. Vamos descobrir a KM média dos veículos.

km_media = (km / idade_do_veiculo).round(2)
km_media

array([3265.35,  234.93, 1607.8 ,    7.5 , 2836.  ])

In [ ]:
# Para alcançar o mesmo resultado com a lista do Python, temos que pegar um caminho mais complexo.

km_M = []
idade_V = []

for i in range(len(anos)):
  idade_V.append(2021 - anos[i])
for i in range(len(idade_V)):
  print(f'{(km[i] / idade_V[i]):.2f}')

3265.35
234.93
1607.80
7.50
2836.00

# Arrays de duas dimensões

In [ ]:
# Podemos criar facilmente um array com uma ou mais listas em seu interior.

dados = np.array([km, anos])
dados

array([[55511,  6813, 48234,     0, 36868],
       [ 2004,  1992,  1991,  2019,  2008]])

In [ ]:
# Para realizar o acesso aos elementos do array, basta passar o índice.

dados[0] # Nesse caso acessamos a lista correspondente à quilometragem

array([55511,  6813, 48234,    15, 36868])

In [ ]:
# Podemos realizar operações de forma fácil, mesmo que as listas estejam dentro de um array.
# Vamos calcular novamente a média.

km_media = (dados[0] / (2021 - dados[1])).round(2)
km_media

array([3265.35,  234.93, 1607.8 ,    7.5 , 2836.  ])

# Acessando valores dentro do array numpy

In [ ]:
# Para acessar valores dentro do array, basta passar o índice, como foi mostrado anteriormente.

dados[1] # Aqui temos acesso à lista de anos

array([2004, 1992, 1991, 2019, 2008])

In [ ]:
# Para acessar um valor dentro que está dento dessa lista, podemos fazer fazer de duas formas:

# nomeDoArray[linha][coluna] ou nomeDoArray[linha, coluna]

# Vamos acessar o ano de 2019
dados[1][3]

2019

In [ ]:
# Agora vamos acessar o ano de 1991 com a outra metodologia
dados[1,2]

1991

# Fatiamento

In [ ]:
# Criando um array com 10 valores

contador = np.arange(10)
contador

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
# Para realizar oa fatiamento, você deve selecionar o indice que deve iniciar e o indice que deve terminar. 
# O último valor não entrará na contagem.

# No exemplo abaixo eu fatiei do índice 1 até o índice 4, mas o valor presente no índice 4 não entra na contagem.

contador[1:4]

array([1, 2, 3])

In [ ]:
# No exemplo abaixo, além do fatiamento, temos o passo.
# O passo é o intervalo entre cada elemento.

# Ele fará a contagem com base no passo que for definido. Caso não seja, por padrão o passo será 1.

contador[1:8:2] # passo 2.

array([1, 3, 5, 7])

In [ ]:
# vamos pegar somente os número pares da nossa sequência:

# No exemplo abaixo foi definido um ínidice de início, no caso o 0.
# Não foi definido um valor final, então ele passará por todo o array.
# Foi definido o passo 2, então ele mostrará o valores com intervalos de 2 em 2.

contador[0::2]

array([0, 2, 4, 6, 8])

In [ ]:
# Agora vamos pegar os valore ímpares do nosso array.

# O princípio foi o mesmo, mas dessa vez eu comecei pelo índice 1.

contador[1::2]

array([1, 3, 5, 7, 9])

In [ ]:
dados

array([[55511,  6813, 48234,     0, 36868],
       [ 2004,  1992,  1991,  2019,  2008]])

In [ ]:
# Agora vamos utilizar o fatiamento para manipular alguns dados específicos da nossa base.
# Vamos calcular a média de KM dos veículos com ano de 1992, 1991 e 2019

(dados[0][1:4] / (2021 - dados[1][1:4])).round(2)

array([ 234.93, 1607.8 ,    7.5 ])

# Numpy array - Atributos.

#### Para mais informações, acesse à documentação: https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html

# *shape*

In [ ]:
# O shape retorna uma tupla com as dimensões do array

dados.shape

(2, 5)

# *ndim*

In [ ]:
# O ndim retorna o número de dimensões do array. No exemplo abaixo, o array possui duas dimensões.

dados.ndim

2

# size

In [ ]:
# Retona o número de elementos do array. No exemplo abaixo temos 2 linhas e 5 colunas, logo ele terá um total de 10 elementos

dados.size

10

# T

In [ ]:
# o "T" transforma linhas em colunas e colunas em linhas

dados.T

array([[55511,  2004],
       [ 6813,  1992],
       [48234,  1991],
       [    0,  2019],
       [36868,  2008]])

In [ ]:
# O T é equivalente ao transpose()

dados.transpose()

array([[55511,  2004],
       [ 6813,  1992],
       [48234,  1991],
       [    0,  2019],
       [36868,  2008]])

# tolist

In [ ]:
# O tolist transforma um array numpy em uma lista do python

dados.tolist()

[[55511, 6813, 48234, 0, 36868], [2004, 1992, 1991, 2019, 2008]]

# reshape

In [ ]:
# O reshape modifica o formato do array.

cont = np.arange(10)
cont.reshape((2,5)) # Aqui podemos ver que o formato atual é de 2 linhas e 5 colunas

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [ ]:
cont.reshape((5,2)) # Agora, mantendo a mesma proporção da quantidade de elementos, eu alterei o formato para 5 linhas e 2 colunas

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [ ]:
# por padrão, o reshape utiliza a indexação da linguagem "C" (Abaixo eu passei o order para melhor ilustração)

cont.reshape((5,2), order='C')

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [ ]:
# Também é possível utilizar a indexação da linguagem Fortran, passando o "F" para o order.

cont.reshape((5,2), order='F')

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [ ]:
info = km + anos
np.array(info).reshape((5,2), order='F')

array([[55511,  2004],
       [ 6813,  1992],
       [48234,  1991],
       [    0,  2019],
       [36868,  2008]])

# resize

In [ ]:
# resize altera o tamanho do array, permitindo adicionar mais linhas ou coluunas

dados

array([[55511,  6813, 48234,     0, 36868],
       [ 2004,  1992,  1991,  2019,  2008]])

In [ ]:
dados_2 = dados.copy()
dados_2.resize((3,5))
dados_2

array([[55511,  6813, 48234,     0, 36868],
       [ 2004,  1992,  1991,  2019,  2008],
       [    0,     0,     0,     0,     0]])

In [ ]:
# OBS: mesmo utilizando o "copy" ainda existe uma referência ao dado original, e durante o resize pode apresentar um erro.

dados.resize((3,5))

ValueError: ignored

In [ ]:
# A mensagem de erro já nos da uma dica sobre o que fazer. 
# Nesse caso devemos passar o "refcheck=False" para que ele ignore essa referência.

dados.resize((3,5), refcheck=False)
dados

array([[55511,  6813, 48234,     0, 36868],
       [ 2004,  1992,  1991,  2019,  2008],
       [    0,     0,     0,     0,     0]])

In [ ]:
# Para preencher as linhas/colunas que foram criados basta indicar o índice que vai receber os valores.
# No exemplo abaixo eu vou preencher a linha com a média de KM/ano.

dados_2[2] = dados_2[0] / (2021 - dados_2[1])
dados_2

array([[55511,  6813, 48234,     0, 36868],
       [ 2004,  1992,  1991,  2019,  2008],
       [ 3265,   234,  1607,     0,  2836]])

# Estatística com arrays numpy

#### Mathematical documentation: https://numpy.org/doc/stable/reference/routines.math.html

#### Numpy Statistics: https://numpy.org/doc/stable/reference/routines.statistics.html

#### Numpy Calculation: https://numpy.org/doc/stable/reference/arrays.ndarray.html#calculation

In [4]:
# Carregando os arquivos

km = np.loadtxt('carros-km.txt', dtype=int)
anos = np.loadtxt('carros-anos.txt')
valor = np.loadtxt('carros-valor.txt')

In [8]:
# vamos utilizar o column_stack transformar um array unidimensional em colunas de um array de duas dimensões

new_Data = np.column_stack((km, anos, valor))
new_Data # Podemos ver que ele transformou os valores inteiros em float.

array([[4.4410000e+04, 2.0030000e+03, 8.8078640e+04],
       [5.7120000e+03, 1.9910000e+03, 1.0616194e+05],
       [3.7123000e+04, 1.9900000e+03, 7.2832160e+04],
       [0.0000000e+00, 2.0190000e+03, 1.2454907e+05],
       [2.5757000e+04, 2.0060000e+03, 9.2612100e+04],
       [1.0728000e+04, 2.0120000e+03, 9.7497730e+04],
       [0.0000000e+00, 2.0190000e+03, 5.6445200e+04],
       [7.7599000e+04, 2.0090000e+03, 1.1231044e+05],
       [9.9197000e+04, 2.0100000e+03, 1.2071627e+05],
       [3.7978000e+04, 2.0110000e+03, 7.6566490e+04],
       [1.2859000e+04, 2.0020000e+03, 7.1647590e+04],
       [8.0520000e+03, 2.0070000e+03, 7.3919530e+04],
       [8.9773000e+04, 2.0010000e+03, 1.1273299e+05],
       [0.0000000e+00, 2.0190000e+03, 5.3183380e+04],
       [4.1457000e+04, 2.0090000e+03, 1.2748842e+05],
       [1.1560700e+05, 2.0160000e+03, 5.9910400e+04],
       [4.6449000e+04, 2.0120000e+03, 6.1118590e+04],
       [0.0000000e+00, 2.0190000e+03, 8.8552390e+04],
       [3.7086000e+04, 2.0160000e+03, 6.2696690e+04],
       [1.5173000e+04, 2.0170000e+03, 1.0172630e+05],
       [1.0119300e+05, 2.0020000e+03, 1.0614738e+05],
       [0.0000000e+00, 2.0190000e+03, 9.4564400e+04],
       [9.8079000e+04, 1.9940000e+03, 1.3352984e+05],
       [1.0295900e+05, 1.9910000e+03, 1.2568465e+05],
       [0.0000000e+00, 2.0190000e+03, 1.2159621e+05],
       [0.0000000e+00, 2.0190000e+03, 7.1367100e+04],
       [5.7950000e+03, 2.0160000e+03, 9.5347750e+04],
       [0.0000000e+00, 2.0190000e+03, 1.0543284e+05],
       [5.8848000e+04, 2.0020000e+03, 5.7045270e+04],
       [9.4381000e+04, 1.9910000e+03, 1.2043270e+05],
       [3.0163000e+04, 1.9970000e+03, 7.0707200e+04],
       [5.3332000e+04, 1.9950000e+03, 6.9105180e+04],
       [1.7720000e+04, 2.0180000e+03, 5.9358690e+04],
       [3.3808000e+04, 1.9910000e+03, 6.5955400e+04],
       [9.0684000e+04, 2.0140000e+03, 6.0017030e+04],
       [4.3975000e+04, 1.9950000e+03, 1.1890952e+05],
       [0.0000000e+00, 2.0190000e+03, 5.1606590e+04],
       [0.0000000e+00, 2.0190000e+03, 1.2328187e+05],
       [5.5260000e+03, 2.0090000e+03, 6.9770180e+04],
       [0.0000000e+00, 2.0190000e+03, 1.0260954e+05],
       [9.3415000e+04, 2.0130000e+03, 6.7997190e+04],
       [4.0762000e+04, 2.0030000e+03, 1.3523529e+05],
       [0.0000000e+00, 2.0190000e+03, 8.6641340e+04],
       [8.6302000e+04, 2.0020000e+03, 1.3681839e+05],
       [0.0000000e+00, 2.0190000e+03, 1.1762673e+05],
       [9.7550000e+03, 2.0020000e+03, 5.6208700e+04],
       [6.9945000e+04, 2.0040000e+03, 8.4222650e+04],
       [2.3950000e+03, 2.0010000e+03, 9.0781650e+04],
       [0.0000000e+00, 2.0190000e+03, 6.4701100e+04],
       [8.0349000e+04, 2.0030000e+03, 1.2635049e+05],
       [8.5554000e+04, 2.0090000e+03, 1.4815289e+05],
       [5.0496000e+04, 2.0060000e+03, 1.3229883e+05],
       [6.7716000e+04, 2.0000000e+03, 1.3762763e+05],
       [9.3947000e+04, 2.0060000e+03, 8.0422710e+04],
       [3.5345000e+04, 2.0100000e+03, 5.6373990e+04],
       [8.1007000e+04, 1.9940000e+03, 7.0846030e+04],
       [1.1951300e+05, 2.0070000e+03, 1.2869423e+05],
       [0.0000000e+00, 2.0190000e+03, 1.3332919e+05],
       [0.0000000e+00, 2.0190000e+03, 1.3196143e+05],
       [0.0000000e+00, 2.0190000e+03, 1.1203327e+05],
       [0.0000000e+00, 2.0190000e+03, 8.1399350e+04],
       [0.0000000e+00, 2.0190000e+03, 9.7163100e+04],
       [1.1889500e+05, 2.0170000e+03, 6.6007160e+04],
       [4.8509000e+04, 2.0110000e+03, 1.2877622e+05],
       [1.0091200e+05, 2.0010000e+03, 1.4262302e+05],
       [9.5649000e+04, 1.9960000e+03, 1.3693013e+05],
       [0.0000000e+00, 2.0190000e+03, 6.6526610e+04],
       [9.0495000e+04, 1.9940000e+03, 1.1415487e+05],
       [0.0000000e+00, 2.0190000e+03, 1.4239275e+05],
       [2.9132000e+04, 2.0070000e+03, 1.4671691e+05],
       [2.3802000e+04, 1.9940000e+03, 1.2248568e+05],
       [8.4992000e+04, 2.0070000e+03, 9.7951030e+04],
       [5.4395000e+04, 1.9970000e+03, 7.8283490e+04],
       [2.6731000e+04, 2.0060000e+03, 8.3434040e+04],
       [4.4329000e+04, 2.0130000e+03, 7.7836230e+04],
       [1.1823600e+05, 1.9940000e+03, 6.0813920e+04],
       [1.1380800e+05, 2.0080000e+03, 9.1353860e+04],
       [6.1000000e+02, 2.0080000e+03, 1.1628121e+05],
       [0.0000000e+00, 2.0190000e+03, 1.4519770e+05],
       [0.0000000e+00, 2.0190000e+03, 5.0742100e+04],
       [1.2887000e+04, 1.9990000e+03, 7.3033530e+04],
       [7.9607000e+04, 2.0070000e+03, 5.4332870e+04],
       [9.0924000e+04, 1.9930000e+03, 5.2207450e+04],
       [4.2733000e+04, 1.9950000e+03, 6.3578500e+04],
       [0.0000000e+00, 2.0190000e+03, 6.4507720e+04],
       [0.0000000e+00, 2.0190000e+03, 1.1507559e+05],
       [1.1771400e+05, 2.0160000e+03, 1.3303060e+05],
       [1.1388500e+05, 2.0110000e+03, 1.4159186e+05],
       [0.0000000e+00, 2.0190000e+03, 1.0038028e+05],
       [3.0511000e+04, 2.0020000e+03, 9.6369040e+04],
       [7.4867000e+04, 2.0130000e+03, 1.4260384e+05],
       [1.1976000e+05, 2.0170000e+03, 1.1770967e+05],
       [8.3560000e+03, 2.0160000e+03, 1.0224154e+05],
       [6.4247000e+04, 2.0080000e+03, 9.6065380e+04],
       [8.8661000e+04, 2.0180000e+03, 5.3894610e+04],
       [4.5390000e+03, 2.0030000e+03, 1.2391178e+05],
       [1.1011600e+05, 2.0030000e+03, 1.0199635e+05],
       [3.3215000e+04, 2.0040000e+03, 8.3431660e+04],
       [9.2001000e+04, 2.0100000e+03, 1.2297563e+05],
       [0.0000000e+00, 2.0190000e+03, 9.3227730e+04],
       [8.1708000e+04, 2.0060000e+03, 5.8762650e+04],
       [7.0641000e+04, 2.0010000e+03, 1.3954967e+05],
       [0.0000000e+00, 2.0190000e+03, 1.2201642e+05],
       [9.1277000e+04, 2.0150000e+03, 7.2731980e+04],
       [2.6544000e+04, 2.0180000e+03, 8.8416540e+04],
       [5.2596000e+04, 2.0170000e+03, 7.3873420e+04],
       [4.7503000e+04, 1.9920000e+03, 7.0709340e+04],
       [8.9056000e+04, 2.0010000e+03, 1.1530650e+05],
       [2.8834000e+04, 1.9930000e+03, 5.5924630e+04],
       [1.1056400e+05, 1.9950000e+03, 8.5052260e+04],
       [5.6638000e+04, 2.0030000e+03, 5.6646340e+04],
       [1.7357000e+04, 2.0140000e+03, 1.3894688e+05],
       [7.4015000e+04, 2.0080000e+03, 1.0825672e+05],
       [1.5196000e+04, 2.0130000e+03, 5.8979300e+04],
       [0.0000000e+00, 2.0190000e+03, 1.1472768e+05],
       [1.0821000e+04, 2.0170000e+03, 1.3966148e+05],
       [0.0000000e+00, 2.0190000e+03, 8.0382240e+04],
       [0.0000000e+00, 2.0190000e+03, 1.4915717e+05],
       [9.5950000e+03, 2.0060000e+03, 8.7830410e+04],
       [9.9052000e+04, 2.0150000e+03, 1.4356822e+05],
       [5.2389000e+04, 2.0070000e+03, 1.3817185e+05],
       [1.1994500e+05, 2.0050000e+03, 1.1578495e+05],
       [9.6005000e+04, 2.0170000e+03, 1.4650899e+05],
       [3.1639000e+04, 1.9980000e+03, 1.3767023e+05],
       [0.0000000e+00, 2.0190000e+03, 1.3859727e+05],
       [8.0187000e+04, 1.9990000e+03, 1.4762781e+05],
       [0.0000000e+00, 2.0190000e+03, 6.2999020e+04],
       [5.8212000e+04, 2.0090000e+03, 9.1242440e+04],
       [6.1672000e+04, 2.0030000e+03, 1.4948992e+05],
       [3.2017000e+04, 1.9940000e+03, 6.3529950e+04],
       [0.0000000e+00, 2.0190000e+03, 5.8525410e+04],
       [5.6944000e+04, 1.9940000e+03, 9.0345050e+04],
       [0.0000000e+00, 2.0190000e+03, 1.4777087e+05],
       [8.6519000e+04, 2.0150000e+03, 1.0661771e+05],
       [4.8210000e+03, 1.9960000e+03, 1.0492988e+05],
       [1.0102500e+05, 1.9970000e+03, 1.0071245e+05],
       [3.0705000e+04, 1.9930000e+03, 1.4198293e+05],
       [0.0000000e+00, 2.0190000e+03, 1.0403879e+05],
       [3.2555000e+04, 1.9920000e+03, 8.8501540e+04],
       [1.0338900e+05, 1.9950000e+03, 7.9782020e+04],
       [0.0000000e+00, 2.0190000e+03, 8.6224100e+04],
       [5.5289000e+04, 1.9900000e+03, 1.0359618e+05],
       [0.0000000e+00, 2.0190000e+03, 1.4899647e+05],
       [0.0000000e+00, 2.0190000e+03, 6.0948010e+04],
       [1.1593000e+05, 1.9910000e+03, 6.9535440e+04],
       [6.6437000e+04, 1.9900000e+03, 1.1113033e+05],
       [9.6800000e+04, 2.0120000e+03, 6.5847690e+04],
       [1.4237000e+04, 2.0070000e+03, 7.8096060e+04],
       [1.9896000e+04, 2.0130000e+03, 6.9219890e+04],
       [1.1304500e+05, 2.0000000e+03, 1.4411891e+05],
       [1.1494200e+05, 2.0020000e+03, 7.7397050e+04],
       [3.1730000e+03, 1.9960000e+03, 6.8974250e+04],
       [8.3611000e+04, 1.9960000e+03, 1.2523130e+05],
       [2.5356000e+04, 2.0150000e+03, 8.5501120e+04],
       [8.8634000e+04, 1.9930000e+03, 1.3711621e+05],
       [2.3140000e+03, 2.0130000e+03, 1.3882381e+05],
       [2.6270000e+03, 2.0130000e+03, 1.1796195e+05],
       [5.2034000e+04, 2.0090000e+03, 1.3266232e+05],
       [0.0000000e+00, 2.0190000e+03, 1.4640579e+05],
       [0.0000000e+00, 2.0190000e+03, 8.1999210e+04],
       [7.9577000e+04, 2.0020000e+03, 1.4093460e+05],
       [1.0820100e+05, 1.9970000e+03, 8.2366810e+04],
       [7.6453000e+04, 1.9980000e+03, 7.0424110e+04],
       [5.7683000e+04, 2.0040000e+03, 5.3620310e+04],
       [9.6610000e+04, 1.9960000e+03, 7.3389180e+04],
       [1.0900100e+05, 2.0150000e+03, 1.1161812e+05],
       [2.6212000e+04, 2.0160000e+03, 1.1218737e+05],
       [4.5971000e+04, 2.0050000e+03, 1.2081257e+05],
       [4.9182000e+04, 1.9990000e+03, 1.1603104e+05],
       [4.9907000e+04, 1.9950000e+03, 1.2539811e+05],
       [3.8620000e+04, 1.9930000e+03, 7.6101470e+04],
       [6.0996000e+04, 2.0040000e+03, 7.5263240e+04],
       [7.3914000e+04, 2.0130000e+03, 1.4738776e+05],
       [1.0739200e+05, 1.9980000e+03, 8.5311400e+04],
       [9.1460000e+03, 2.0180000e+03, 5.4388110e+04],
       [0.0000000e+00, 2.0190000e+03, 1.2415665e+05],
       [1.7924000e+04, 2.0180000e+03, 1.4620334e+05],
       [0.0000000e+00, 2.0190000e+03, 5.6453940e+04],
       [1.1694900e+05, 1.9900000e+03, 6.8873790e+04],
       [2.0476000e+04, 2.0090000e+03, 9.1667610e+04],
       [5.2804000e+04, 1.9900000e+03, 9.3776520e+04],
       [8.8490000e+03, 2.0060000e+03, 6.6433820e+04],
       [9.1724000e+04, 2.0020000e+03, 1.0905927e+05],
       [3.2056000e+04, 1.9910000e+03, 1.2206997e+05],
       [7.4886000e+04, 1.9920000e+03, 1.1309032e+05],
       [0.0000000e+00, 2.0190000e+03, 8.9401100e+04],
       [0.0000000e+00, 2.0190000e+03, 5.6842790e+04],
       [5.2189000e+04, 2.0050000e+03, 1.4667671e+05],
       [8.3559000e+04, 2.0100000e+03, 8.9511960e+04],
       [0.0000000e+00, 2.0190000e+03, 9.7290180e+04],
       [2.0328000e+04, 2.0160000e+03, 1.2067356e+05],
       [0.0000000e+00, 2.0190000e+03, 1.1443494e+05],
       [7.5577000e+04, 2.0100000e+03, 1.3954669e+05],
       [3.3659000e+04, 1.9940000e+03, 9.5078160e+04],
       [1.0434100e+05, 2.0010000e+03, 6.8091770e+04],
       [2.5510000e+04, 2.0140000e+03, 6.1496970e+04],
       [1.8965000e+04, 1.9960000e+03, 1.3966930e+05],
       [8.7161000e+04, 1.9930000e+03, 8.0661390e+04],
       [6.6520000e+03, 1.9930000e+03, 6.1783650e+04],
       [5.5738000e+04, 2.0010000e+03, 5.2805910e+04],
       [0.0000000e+00, 2.0190000e+03, 1.2702475e+05],
       [0.0000000e+00, 2.0190000e+03, 1.3554300e+05],
       [0.0000000e+00, 2.0190000e+03, 1.2170873e+05],
       [6.4320000e+04, 2.0070000e+03, 1.0734268e+05],
       [0.0000000e+00, 2.0190000e+03, 5.7888100e+04],
       [6.8678000e+04, 2.0160000e+03, 1.1816148e+05],
       [7.1697000e+04, 2.0140000e+03, 1.4249906e+05],
       [0.0000000e+00, 2.0190000e+03, 1.2839611e+05],
       [3.4783000e+04, 2.0150000e+03, 1.1235061e+05],
       [3.3772000e+04, 2.0150000e+03, 1.2466138e+05],
       [8.5127000e+04, 1.9960000e+03, 5.4263160e+04],
       [1.3606000e+04, 2.0020000e+03, 6.2041320e+04],
       [3.5647000e+04, 2.0050000e+03, 1.2929611e+05],
       [9.5128000e+04, 1.9950000e+03, 6.0998330e+04],
       [1.4046000e+04, 1.9990000e+03, 5.8008500e+04],
       [4.1194000e+04, 2.0050000e+03, 8.2304190e+04],
       [0.0000000e+00, 2.0190000e+03, 1.1453174e+05],
       [9.6100000e+04, 1.9970000e+03, 1.2856561e+05],
       [1.0390000e+05, 1.9900000e+03, 1.2648826e+05],
       [4.3814000e+04, 2.0010000e+03, 1.1907455e+05],
       [2.4638000e+04, 2.0130000e+03, 1.3023804e+05],
       [0.0000000e+00, 2.0190000e+03, 1.1576017e+05],
       [1.1096600e+05, 2.0170000e+03, 1.2124800e+05],
       [1.5987000e+04, 2.0110000e+03, 9.8156350e+04],
       [5.3369000e+04, 2.0050000e+03, 1.1214680e+05],
       [1.0077000e+04, 2.0070000e+03, 1.0272963e+05],
       [7.1544000e+04, 1.9930000e+03, 1.4108335e+05],
       [1.0700000e+02, 1.9910000e+03, 1.0296876e+05],
       [8.3940000e+03, 1.9910000e+03, 7.6310010e+04],
       [4.1498000e+04, 1.9970000e+03, 1.2048174e+05],
       [1.1600200e+05, 2.0000000e+03, 5.4559180e+04],
       [1.0085800e+05, 2.0070000e+03, 9.2957640e+04],
       [6.7475000e+04, 2.0060000e+03, 1.2781006e+05],
       [8.4970000e+03, 2.0150000e+03, 7.3311750e+04],
       [4.4200000e+03, 2.0080000e+03, 6.5138030e+04],
       [0.0000000e+00, 2.0190000e+03, 9.0141470e+04],
       [5.8537000e+04, 1.9960000e+03, 7.1160360e+04],
       [0.0000000e+00, 2.0190000e+03, 6.7539790e+04],
       [0.0000000e+00, 2.0190000e+03, 6.7664860e+04],
       [1.1201600e+05, 2.0140000e+03, 6.8652160e+04],
       [9.1840000e+04, 2.0040000e+03, 1.1472874e+05],
       [1.1278700e+05, 2.0080000e+03, 1.4164508e+05],
       [0.0000000e+00, 2.0190000e+03, 1.2624784e+05],
       [0.0000000e+00, 2.0190000e+03, 1.2885221e+05],
       [9.2930000e+03, 2.0120000e+03, 1.3238476e+05],
       [0.0000000e+00, 2.0190000e+03, 1.2941533e+05],
       [5.5083000e+04, 1.9960000e+03, 8.9536820e+04],
       [4.8796000e+04, 2.0110000e+03, 8.7975300e+04],
       [0.0000000e+00, 2.0190000e+03, 7.7675790e+04],
       [8.9685000e+04, 2.0100000e+03, 5.8881670e+04],
       [8.5384000e+04, 2.0070000e+03, 5.5081990e+04],
       [9.8108000e+04, 1.9940000e+03, 1.1882644e+05],
       [7.1280000e+04, 2.0070000e+03, 1.3762762e+05],
       [2.7505000e+04, 2.0140000e+03, 5.1759580e+04],
       [2.9981000e+04, 1.9910000e+03, 5.1667060e+04],
       [5.2637000e+04, 2.0020000e+03, 6.8934030e+04],
       [7.6850000e+03, 1.9960000e+03, 1.2211090e+05],
       [5.0188000e+04, 1.9920000e+03, 9.0381470e+04]])

In [12]:
new_Data.dtype

dtype('float64')

In [13]:
new_Data.shape

(258, 3)

# mean

In [15]:
# Vamos calcular a média da coluna km e da coluna valor

np.mean(new_Data[:, 0]) # Pegamos todas as linhas e selecionamos a primeira coluna -> km

44499.41472868217

In [16]:
np.mean(new_Data[:, 2]) # Pegamos todas as linhas e selecionamos a terceira coluna -> valor

98960.51310077519

# std

In [18]:
# Vamos descobrir o desvio padrão

np.std(new_Data[:, 0]) # Desvio padrão da coluna KM

39859.82699005149

In [19]:
np.std(new_Data[:, 2]) # Desvio padrão da coluna valor

29754.101150388564

# sum

In [25]:
# Podemos utilizar o 'sum' com arrays e elementos individuais

# No caso de arrays, ele retorna a soma dos elementos com base no eixo que for selecionado

# axis = 0 => Coluna
# axis = 1 => Linha

new_Data.sum(axis=0) # Somatório das 3 colunas

array([11480849.        ,   517938.        , 25531812.37999999])

In [28]:
new_Data.sum(axis=0).shape

(3,)

In [29]:
new_Data.sum(axis=1) # somatório das 258 linhas
new_Data.sum(axis=1).shape

(258,)

In [31]:
# fazendo o somatório por coluna

np.sum(new_Data[:, 0])

11480849.0

In [34]:
np.sum(new_Data[:, 1])

517938.0

# Descobrindo o tipo de dado.

#### utilizando o *type* podemos descobrir com qual tipo de dados estamos trabalhando

In [ ]:
type(km)

numpy.ndarray

In [ ]:
v = 5
type(v)

int

In [ ]:
v1 = 2.5
type(v1)

float

In [ ]:
v3 = True
type(v3)

bool

In [ ]:
v4 = 'olá'
type(v4)

str

In [ ]:
# Para visualizar qual o tipo de dado armazenado dentro de um array numpy, utilizamos o 'dtype'

# Lembrando que em uma lista do python podemos ter tipos variados (int, float, string...), mas no array do numpy isso não é possível.
# O array do numpy armazena apenas um tipo de dado. 

km.dtype

dtype('int64')

#### Para mais informações sobre Tipos de dados, acesse a documentação no link: https://numpy.org/devdocs/user/basics.types.html